<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="sidenav-message d-flex justify-content-center align-items-center">
            <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenter">
                <img class="sidenav-img-message" src="{{ asset('build/message.svg') }}" alt="Image of letter">
            </button>
        </div>
        <img class="sidenav-img" src="https://avatars.githubusercontent.com/{{ user.username }}" alt="Picture of {{ user.firstname }} {{ user.lastname }}">
        <div class="d-flex">
            <div class="d-flex justify-content-center align-items-center sidenav-name-container rounded-left pr-2 pl-2">
                <p class="m-0 p-0 sidenav-name txt-shadow">{{ user.firstname|upper }} {{ user.lastname|upper }}</p>
            </div>
            <div class="btn-group dropleft social-network-container">
                <button type="button" class="btn dropdown-toggle social-network-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu">
                    {% for socialNetwork in user.socialNetworks %}
                        <a class="dropdown-item" href="{{ socialNetwork.link }}" target="_blank">
                            <img class="sidenav-img-network" src="{{ asset('images/networks/'~socialNetwork.image) }}" alt="Logo de {{ socialNetwork.name }}">
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center sidenav-title-container rounded mt-3 pr-1 pl-1">
            <p class="m-0 p-0 sidenav-name txt-shadow">{{ user.jobTitle|upper }}</p>
        </div>
        <div class="mt-3">
            <p class="m-0 p-0 text-center">{{ user.description }}</p>
        </div>
        <div class="d-flex justify-content-center mt-3">
            {% for language in user.languages %}
                <img class="sidenav-img-language" src="{{ asset('images/languages/'~language.image) }}" alt="Image de {{ language.name }}">
            {% endfor %}
        </div>
    </div>
</div>
