{{ form_start(form) }}
<div class="margin-18">
    <p class="color-black mb-2 mt-2">{{ form.name.vars.label }}</p>
    {{ form_widget(form.name) }}
    <p class="color-black mb-2 mt-2">{{ form.imageFile.vars.label }}</p>
    {{ form_widget(form.imageFile) }}
</div>
<button class="btn check-btn-other float-right text-white txt-shadow mt-4">
    <i class="fa fa-check"></i>
</button>
{{ form_end(form) }}
