<a
        tabindex="0"
        role="button"
        class="btn btn-lg navbar-button"
        data-toggle="popover"
        data-trigger="focus"
        data-content="
        <a href='{{ path('admin') }}'>Admin</a><br>
        <a href='{{ path('project_index') }}'>Projets</a><br>
        <a href='{{ path('language_index') }}'>Technos</a><br>
        <a href='{{ path('social_network_index') }}'>Réseaux</a><br>
        <a href='{{ path('message_index') }}'>Messages</a><br>
        <a href='{{ path('logout') }}'>Déconnexion</a><br>
">
    <i class="fa fa-sitemap"></i>
</a>
