{% extends 'base.html.twig' %}

{% block title %}dev-apps\admin{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <h1 class="main-title ml-4 mt-4">Administration</h1>
    </div>
    <div class="row d-flex">
        <div class="admin-card rounded ml-4 mt-5">
            <h2 class="main-title">
                Profil
                <a class="ml-2" href="{{ path('user_edit', {'id': user.id}) }}">
                    <i class="fa fa-edit"></i>
                </a>
            </h2>
            <div class="d-flex justify-content-center">
                <img class="admin-img" src="https://avatars.githubusercontent.com/{{ user.username }}" alt="Picture of {{ user.firstname }} {{ user.lastname }}">
            </div>
            <div class="d-flex justify-content-center align-items-center sidenav-name-container rounded pr-2 pl-2 mt-3">
                <p class="m-0 p-0 sidenav-name">{{ user.firstname|upper }} {{ user.lastname|upper }}</p>
            </div>
            <div class="d-flex justify-content-center align-items-center sidenav-title-container rounded mt-3 pr-1 pl-1">
                <p class="m-0 p-0 sidenav-name">{{ user.jobTitle|upper }}</p>
            </div>
            <div class="d-flex justify-content-center mt-3">
                {% for language in user.languages %}
                    <img class="sidenav-img-language" src="{{ language.image }}" alt="Image of {{ language.name }}">
                {% endfor %}
            </div>
        </div>
        <div class="admin-card rounded ml-4 mt-5">
            <h2 class="main-title">Projets</h2>
            <p>Nombre de projets</p>
            <a href="{{ path('project_index') }}">Voir mes projets</a>
            <a href="{{ path('project_new') }}">Ajouter un projet</a>
        </div>
        <div class="admin-card rounded ml-4 mt-5">
            <h2 class="main-title">Options</h2>
            <p>Voir les langages</p>
            <p>Voir les réseaux sociaux</p>
            <p>Voir les messages</p>
        </div>
    </div>
</div>
{% endblock %}
