{% extends 'base.html.twig' %}

{% block title %}dev-apps\admin{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <h1 class="main-title ml-4 mt-4">Administration</h1>
    </div>
    <div class="row d-flex">
        <div class="admin-card rounded ml-4 mt-5">
            <h2 class="main-title">
                Profil
                <a class="ml-2 link-edit" href="{{ path('user_edit') }}">
                    <i class="fa fa-edit"></i>
                </a>
                <a class="ml-2 link-edit" href="{{ path('reset_password') }}">
                    <i class="fa fa-lock"></i>
                </a>
            </h2>
            <div class="d-flex justify-content-center">
                <img class="admin-img" src="https://avatars.githubusercontent.com/{{ user.username }}" alt="Picture of {{ user.firstname }} {{ user.lastname }}">
            </div>
            <div class="d-flex justify-content-center align-items-center sidenav-name-container rounded pr-2 pl-2 mt-3">
                <p class="m-0 p-0 sidenav-name">
                    {{ user.firstname|upper }} {{ user.lastname|upper }}
                </p>
            </div>
            <div class="d-flex justify-content-center align-items-center sidenav-title-container rounded mt-3 pr-1 pl-1">
                <p class="m-0 p-0 sidenav-name">
                    {{ user.jobTitle|upper }}
                </p>
            </div>
            <div class="d-flex justify-content-center mt-3">
                {% for language in user.languages %}
                    <img class="sidenav-img-language" src="{{ asset('images/languages/'~language.image) }}" alt="Image of {{ language.name }}">
                {% endfor %}
            </div>
        </div>
        <div class="admin-card rounded ml-4 mt-5">
            <h2 class="main-title">Projets</h2>
            <div class="d-flex justify-content-center align-items-center sidenav-name-container rounded pr-2 pl-2 mt-3">
                <p class="m-0 p-0 sidenav-name">
                    {{ projects|length }} projet{{ projects|length > 1 ? 's' : '' }} mis en avant
                </p>
            </div>
            <div class="d-flex justify-content-center align-items-center sidenav-name-container rounded-top pr-2 pl-2 mt-3">
                <p class="m-0 p-0 sidenav-name">
                    Dernier projet publié
                </p>
            </div>
            <div class="admin-subcard rounded-bottom d-flex justify-content-center mb-3">
                {% set project = projects|last %}
                <a class="text-center" href="{{ path('project_edit', {'id': project.id}) }}">
                    <img class="admin-logo balance" src="{{ asset('images/projects/'~project.image) }}" alt="Image de {{ project.title }}">
                </a>
            </div>
            <div>
                <a class="btn bck-grey-light color-black float-right ml-3" href="{{ path('project_index') }}">
                    <i class="fa fa-eye"></i>
                </a>
                <a class="btn bck-grey-light color-black float-right" href="{{ path('project_new') }}">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
        <div class="admin-card rounded ml-4 mt-5">
            <h2 class="main-title">Options</h2>
            {% if messages %}
            <div class="d-flex justify-content-center align-items-center sidenav-name-container rounded-top pr-2 pl-2 mt-3">
                <p class="m-0 p-0 sidenav-name">
                    {{ messages|length }} message{{ messages|length > 1 ? 's' : '' }} non lu{{ messages|length > 1 ? 's' : '' }}
                    <i class="fa fa-circle color-red ml-2 alert-anime"></i>
                </p>
            </div>
            <div class="list-group">
                {% for message in messages|reverse %}
                    <a href="{{ path('message_show', {'id': message.id}) }}" class="list-group-item list-group-item-action">
                        {{ message.name }}
                    </a>
                {% endfor %}
            </div>
            {% endif %}
            <div class="d-flex justify-content-center align-items-center sidenav-name-container rounded-top pr-2 pl-2 mt-3">
                <p class="m-0 p-0 sidenav-name">
                    {{ languages|length }} techno{{ languages|length > 1 ? 's' : '' }} disponible{{ languages|length > 1 ? 's' : '' }}
                </p>
            </div>
            <div class="list-group">
                {% for language in languages|reverse %}
                <a href="{{ path('language_edit', {'id': language.id}) }}" class="list-group-item list-group-item-action">
                    {{ language.name }}
                </a>
                {% endfor %}
            </div>
            <div class="d-flex justify-content-center align-items-center sidenav-name-container rounded-top pr-2 pl-2 mt-3">
                <p class="m-0 p-0 sidenav-name">
                    {{ networks|length }} réseau{{ networks|length > 1 ? 'x' : '' }} soci{{ networks|length > 1 ? 'aux' : 'al' }}
                </p>
            </div>
            <div class="list-group">
                {% for network in networks|reverse %}
                    <a href="{{ path('social_network_edit', {'id': network.id}) }}" class="list-group-item list-group-item-action">
                        {{ network.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
