{% extends 'base.html.twig' %}

{% block title %}dev-apps\réseaux-sociaux{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <h1 class="main-title ml-4 mt-4">
                Réseaux sociaux
                <a class="btn-sm btn bck-mustard" href="{{ path('social_network_new') }}">
                    <i class="fa fa-plus"></i>
                </a>
            </h1>
        </div>
        <table class="table text-white mt-5">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Image</th>
                <th><i class="fa fa-edit"></i></th>
            </tr>
            </thead>
            <tbody>
            {% for network in social_networks|reverse %}
                <tr>
                    <td>
                        <a class="link-edit" href="{{ network.link }}">
                            {{ network.name }}
                        </a>
                    </td>
                    <td>
                        <img class="img-project" src="{{ network.image }}" alt="Image de {{ network.name }}">
                    </td>
                    <td>
                        <a class="link-edit" href="{{ path('social_network_edit', {'id': network.id}) }}">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun réseau social trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
