{% extends 'base.html.twig' %}

{% block title %}dev-apps\réseaux-sociaux{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <h1 class="main-title ml-4 mt-4">
                Réseaux sociaux
                <a class="btn-sm btn bck-grey-light" href="{{ path('social_network_new') }}">
                    <i class="fa fa-plus"></i>
                </a>
            </h1>
        </div>
        <div class="d-flex">
            {% for network in social_networks %}
                <div class="card-show-container rounded mt-5 ml-3">
                    <div class="bck-black text-white d-flex justify-content-between p-2 rounded-top">
                        <p class="m-0 main-title">{{ network.name }}</p>
                        <a class="link-edit" href="{{ path('social_network_edit', {'id': network.id}) }}">
                            <i class="fa fa-edit"></i>
                        </a>
                    </div>
                    <div class="d-flex justify-content-center align-items-center p-3 rounded-bottom">
                        <img class="card-show-img" src="{{ asset('images/networks/'~network.image) }}" alt="Image de {{ network.name }}">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
