{% extends 'base.html.twig' %}

{% block title %}dev-apps\mes-projets{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <h1 class="main-title ml-4 mt-4">
            Mes projets
            <a class="btn-sm btn bck-mustard" href="{{ path('project_new') }}">
                <i class="fa fa-plus"></i>
            </a>
        </h1>
    </div>
    <table class="table text-white mt-5">
        <thead>
            <tr>
                <th>Projet</th>
                <th>Description</th>
                <th>Client</th>
                <th><i class="fa fa-edit"></i></th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects|reverse %}
            <tr>
                <td>
                    <a class="link-edit" href="{{ project.link }}">
                        {{ project.title }}
                    </a>
                </td>
                <td>{{ project.description }}</td>
                <td>{{ project.client }}</td>
                <td>
                    <a class="link-edit" href="{{ path('project_edit', {'id': project.id}) }}">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
